Fantasy3/Service References/UserCall/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserService_IsValid_InputMessage">
    <wsdl:part name="parameters" element="tns:IsValid" />
  </wsdl:message>
  <wsdl:message name="IUserService_IsValid_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsValidResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_CreateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadUser_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadUser" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsers" />
  </wsdl:message>
  <wsdl:message name="IUserService_ReadAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertImage_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertImage" />
  </wsdl:message>
  <wsdl:message name="IUserService_InsertImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertImageResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="IsValid">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/IsValid" message="tns:IUserService_IsValid_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/IsValidResponse" message="tns:IUserService_IsValid_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/CreateUser" message="tns:IUserService_CreateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/CreateUserResponse" message="tns:IUserService_CreateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/UpdateUser" message="tns:IUserService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/UpdateUserResponse" message="tns:IUserService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteUser" message="tns:IUserService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteUserResponse" message="tns:IUserService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ReadUser" message="tns:IUserService_ReadUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ReadUserResponse" message="tns:IUserService_ReadUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/ReadAllUsers" message="tns:IUserService_ReadAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/ReadAllUsersResponse" message="tns:IUserService_ReadAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertImage">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/InsertImage" message="tns:IUserService_InsertImage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/InsertImageResponse" message="tns:IUserService_InsertImage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserService" type="tns:IUserService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsValid">
      <soap:operation soapAction="http://tempuri.org/IUserService/IsValid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/CreateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadUser">
      <soap:operation soapAction="http://tempuri.org/IUserService/ReadUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadAllUsers">
      <soap:operation soapAction="http://tempuri.org/IUserService/ReadAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertImage">
      <soap:operation soapAction="http://tempuri.org/IUserService/InsertImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserService">
    <wsdl:port name="BasicHttpBinding_IUserService" binding="tns:BasicHttpBinding_IUserService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/FantasyServices/UserService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>